

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Navbar */
.navbar-brand>img {
	max-height: 100%;
}

/* Nav */
.nav .nav {
	padding-left: 15px;
}

/* Text blocks */
.text img {
	max-width: 100%;
}
















